.admin-container{
    display: flex;
    margin-top: 100px;
}


.secciones{
    margin-right: 20px;
    border-right: 1px solid #ccc;
}
.secciones ul{
    width: 200px;
    list-style: none;
}
.secciones li{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    display: flex;
}
.secciones ul li span{
    margin-left: 10px;
}

.secciones li:hover{
    cursor: pointer;
}

.tablas{
    width: 100%;
    border-radius: 5px;
}
.tablas thead th{
    background-color: #ccc;
    padding: 10px;
    text-align: left;
}
.tablas tbody{
    text-align: center;
}
.tablas tbody tr td{
    text-overflow: ellipsis;
}
.img-prod{
    width: 50px;
}
@media screen and (max-width: 768px){

    .secciones{
        position: fixed;
        bottom: 0;
        background-color: red;
        width: 100%;
        border-top: 1px solid #ccc;
        border-right: 0;
    }
    .secciones ul{
        display: flex;
        justify-content: space-around;
        width: 100%;

    }
    .secciones li{
        border: 0;
        flex-direction: column;
    }
    
}


/* MODAL EDITAR */
.form-editar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}
.form-editar input{
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 5px;
    margin-bottom: 10px;
    width: 300px;
}
.form-editar select{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
}
.btn-editar{
    height: 30px;
    width: 100px;
}