.admin-container{
    display: flex;
    margin-top: 100px;
}
.secciones{
    margin-right: 20px;
    border-right: 1px solid #ccc;
}
.secciones ul{
    width: 200px;
    list-style: none;
}
.secciones li{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    display: flex;

}
.secciones ul li span{
    margin-left: 10px;
}

.secciones li:hover{
    cursor: pointer;
}
@media screen and (max-width: 768px){

    .secciones{
        position: fixed;
        bottom: 0;
        background-color: red;
        width: 100%;
        border-top: 1px solid #ccc;
        border-right: 0;
    }
    .secciones ul{
        display: flex;
        justify-content: space-around;
        width: 100%;

    }
    .secciones li{
        border: 0;
        flex-direction: column;
    }
    
}