.w-100{
    text-align: center;
}
.product-carrito-container{
    padding-right: 5px;
}
.product-carrito{
    padding: 20px 10px;
    background-color: #fff;
    box-shadow: -1px -1px 7px 2px rgba(0,0,0,0.03);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 9px;
}
.product-carrito span{
    background-color: #fff;
}
.product-carrito img{
    width: 70px;
}

.product-carrito .info{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.product-carrito .info-btns{
    background-color: #fff;
    
}
.boton-sr{
    background-color: #b9b9b96d !important;
    padding: 3px 8px;
    border-radius: 50%;
}
.cantidad{
    border: 1px solid;
    padding: 3px 8px;
    border-radius: 50%;
    margin: 0 5px;
}
.btn-eliminar{
    margin-left: 10px;
}

.total{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 20px;
    padding-right: 10px;

}
.total-inner{
    display: flex;
    justify-content: space-between;
}
.btn-carrito button{
    width: 100%;
    border: none;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: -1px -1px 7px 2px rgba(0,0,0,0.08);
    margin-bottom: 20px;
}