.navlink{
    margin-right: 10px !important;
}
.Error404{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Error404 img{
    width: 800px;
}
.logo-navbar{
    width: 50px;
}

@media screen and (max-width: 576px){
    .navlink{
        margin: 10px;
    }
}