.w100{
    width: 100%;
    text-align: center;
}
.mispedidos{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-mipedido{
    width: 450px;
    display: flex;
    flex-direction: column;
    box-shadow: -1px -1px 7px 2px rgba(0,0,0,0.11);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.pedido-inn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.pedido-inn:nth-last-child(1){
    background-color: #2424243e;
}
.pedido-inn:nth-last-child(1) span{
    background-color: transparent;
}
.recordatorio{
    width: 450px;
    font-size: 10px;
    margin-bottom: 15px;
}
@media screen and (max-width: 576px){
    .mispedidos{
        width: 100vw;
        padding-right: 10px;
    }
    .cart-mipedido{
        width: 100vw;
    }
    .recordatorio{
        width: 100vw;
    }
}