.w100{
    width: 100%;
}
.mispedidos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cart-mipedido{
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.pedidos{
    display: flex;
    flex-direction: column;
}
.pedidos span{
    border-bottom: 1px solid #989898;
}

.pedidoss{
    height: 70vh;
}