.mi-pedido{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
}
.pedido{
    width: 600px;
    border-radius: 10px;
}
.pedido-inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    border-bottom: 1px solid #ccc;
}
.pedido-inner img{
    width: 100px;
}
.total-pedido{
    width: 600px;
    display: flex;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.form-pedido{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}
.form-pedido form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-pedido input{
    width: 100% !important;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.btn-pedido{
    width: 100%;
    border: none;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: -1px -1px 7px 2px rgba(0,0,0,0.08);
    margin-bottom: 30px;
}
.btn-container{
    display: flex;
    width: 100%;
    justify-content: end;
}

@media screen and (max-width:576px){
    .mi-pedido{
        align-items: flex-start;
    }
    .pedido{
    width: 100%;
    }
    .total-pedido{
        width: 100%;
    }
    
    .form-pedido{
        width: 100%;
    }
    .form-pedido input{
    }
    .btn-container button{
        width: 100%;
    }
}