.container-product{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.container-product img{
    width: 400px;
}

.info-product{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.info-product span{
    margin-bottom: 10px;
}

.info-product button{
    width: 100px;
}

.info-product span:nth-child(1){
    font-size: 50px;
    font-weight: 700;
}
.info-product span:nth-child(4){
    font-size: 30px;
    font-weight: 700;
}
.info-product span:nth-child(2){
    font-size: 20px;
}
.info-product span:nth-child(3){
    color: #242424;
}

.coment-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
h6{
    width: 600px;
    text-align: left;
}
.form{
    width: 600px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.form input{
    width: 450px;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
}
.form img{
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    object-fit: contain;
    padding: 2px;
}
.form button{
    padding: 5px;
    border: 1px solid #ccc;
}

.comentarios-section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.coment-card{
    width: 600px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.coment-card img{
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    object-fit: contain;
    padding: 2px;
    margin-right: 10px;
}
.card-info{
    display: flex;
    flex-direction: column;
}
.card-info .fecha{
    color: #868686;
    font-weight: lighter;
    font-size: 13px;
    margin-left: 10px;
}


@media screen and (max-width:576px){
    .container-product{
        flex-direction: column;
        align-items: center;
    }
    .container-product img{
        width: 250px;
    }
    .info-product{
        width: 100%;
        padding-left: 10px;
    }
    .info-product span:nth-child(1){
        font-size: 30px;
    }
    .info-product span:nth-child(2){
        font-size: 16px;
    }

    h6{
        width: 100%;
    }
    .form{
        width: 100%;
    }
    .form input{
        width: 100%;
        margin-bottom: 10px;
    }
    .coment-card{
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
}
