.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

a{
    text-decoration: none !important;
    color: black !important;
}

.card{
    width: 22%;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden;
}
.card img{
    max-width: 100px;
    margin-bottom: 20px;
}



.price-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.price-btn span {
    font-size: 20px;
}

.price-btn button {
    border: 1px solid;
    background-color: #284a70;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
}

.price-btn button:hover {
    cursor: pointer;
    background-color: #fff;
    color: black;
    border: 1px solid #284a70;
    transition: .5s ease;
}

@media screen and (max-width: 768px){
    .card{
        width: 32%;
    }
    .card img{
        width: 120px;
    }
    .price-btn span {
        font-size: 15px;
    }
    .price-btn button{
        padding: 10px 10px;
        font-size: 11px;
    }
}
@media screen and (max-width: 576px){
    .card{
        width: 45%;
        padding: 10px;
    }
    .card img{
        width: 100px;
    }
    .price-btn span {
        font-size: 15px;
    }
    .price-btn button{
        padding: 5px;
        font-size: 11px;
    }
}

