.container-product{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.container-product img{
    width: 400px;
}

.info-product{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.info-product span{
    margin-bottom: 10px;
}

.info-product button{
    width: 100px;
}

.info-product span:first-child{
    font-size: 50px;
    font-weight: 700;
}
.info-product span:nth-child(2){
    font-size: 30px;
}
.info-product span:nth-child(3){
    color: #242424;
}
