*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #fcfcfc;
  color: #212245;
}
.container{
width: 1200px;
margin: 0 auto;
}

@media screen and (max-width: 768px)
{
  .container{
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width:576px){
  .container{
    width: 100%;
    margin: 0 auto;
  }
}